<footer class="p-5 bg-dark text-white text-center position-relative mt-5">
    
    <div class="container m-3">
        <!-- <p class="lead" style="color: cadetblue;">Copyright &copy; 2021 <span class="text-warning">Frontend</span></p>
        <a href="#" class="position-absolute bottom-0 end-0 p-5">
            <i class="bi bi-arrow-up-circle h1"></i>
        </a> -->
        <div class="row">
            <div class="col-1 text-xl-start text-info">1</div>
        </div>
        <div class="row">
            <div class="col-4 text-warning"><p class="text-xl-start fs-2">Subscribe.</p></div>
            <div class="col-1 border border-danger">2</div>
            <div class="col-1 border border-danger">3</div>
            <div class="col-6 border border-danger">6</div>
        </div>
        <div class="row mt-5">
            <form class="row g-0">
                <div class="col-auto">
                  <label for="exampleInputEmail1" class="form-label"></label>
                  <input type="email" class="form-control bg-dark text-light" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Email">
                </div>
                <div class="col-auto">
                  <button type="submit" class="mt-4 btn btn-primary">Submit!</button>
                </div>
              </form>
        </div>
    </div>
</footer>