{% extends "base.html" %} 
{% block title %}Upcoming Movies{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
{% endblock %}
{% block nav %}
<div class="border-radius animate__animated animate__fadeInLeft">
    <span>
Upcoming
    </span>
</div>
{% endblock %}

{% block content %}

<section>

{% for movie in upcoming %}

<div class="container" style="color: white;">
    <div class="row justify-content-center">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 col-tn-12 movie-div">
            <img class="movie-img" src="{{ movie.photo_link }}" alt="">
            <h4 class="movie-description" id="movie-title">{{ movie.title }}</h4>
            <h5 class="movie-description" id="movie-genre">{{ movie.genre }}</h5>
            <p class="movie-description">{{ movie.description }}</p>
            <h6 class="movie-description" id="movie-director">Director: {{ movie.director }}</h6>
        </div>
    </div>
</div>

{% endfor %}

</section>

{% endblock %}